* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.time-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.time-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 4px solid yellow;
}

.time {
    font-size: 50px;
    color: teal;
}